# Reviewers for each proposal; see https://github.com/nextwebwg/.github/blob/main/GOVERNANCE.md
*             @nextwebwg/chairs
/html-next/   @nextwebwg/editors-html-next
/html-forms/  @nextwebwg/editors-html-forms
